* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* h1 {
  font-size: 70px;
  text-shadow: 0 0 10px #000;
}

.navbar {
  height: 80px;
}
.navbar .logo-navbar {
  height: 60px;
}
.navbar .row {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}
@media only screen and (min-width: 0) and (max-width: 576px) {
  .navbar .navbar-collapse {
    background-color: rgba(128, 128, 128, 0.527);
  }
}

.main {
  height: calc(100vh - 80px);
  width: 100%;
  background-color: gray;
  background-image: url(../multimedia/fondogrande.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
}
.main .call {
  width: 50%;
  color: white;
  text-align: center;
  font-size: 30px;
  margin-left: 60px;
  margin-right: 60px;
}
.main .call p {
  margin-bottom: 18px;
  display: inline-block;
}
.main h1 {
  font-size: 70px;
  text-shadow: 0 0 10px #000;
}
.main .call a {
  background-color: green;
  color: black;
  text-decoration: none;
  padding: 20px 30px transform rotate(20deg);
  transition: 0.7;
}
.main .call a :hover {
  rotate: 20deg;
}
.main .nombre {
  font-size: 30px;
  float: right;
  font-weight: bold;
  text-transform: uppercase;
}

footer {
  background-color: green;
  text-align: center;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
footer .redes {
  color: #000;
  font-size: 70px;
  letter-spacing: 10px;
}

.productos {
  background-color: hsla(120, 100%, 25%, 0.356);
}
.productos h2 {
  font-size: 20px;
  margin-bottom: 30px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-left: 60px;
  margin-right: 60px;
  text-align: center;
}
.productos h1 {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 40px;
}
.productos table {
  font-size: 20px;
  text-align: center;
  align-items: center;
  margin-bottom: 100px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
.productos table, .productos th, .productos td {
  border: 1px solid black;
}
.productos .explvid {
  font-size: 18px;
  padding-left: 60px;
}

.contactos1 {
  font-size: 18px;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
  padding-left: 70px;
  padding-right: 70px;
}
.contactos1 .contenedor {
  display: flex;
  padding-top: 40px;
}
.contactos1 .infomapa {
  font-size: 18px;
  margin-left: 23px;
}
.contactos1 .formularios {
  font-size: 18px;
  padding-left: 25px;
}
.contactos1 .misredes {
  padding-top: 20px;
  font-size: 20px;
}
.contactos1 .body {
  background-color: hsla(120, 100%, 25%, 0.356);
}

.historia {
  display: flex;
}
.historia h1 {
  text-align: center;
}
.historia .textofoto {
  text-align: center;
  font-size: 18px;
  width: 80%;
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 20px;
}
.historia .body {
  background-color: hsla(120, 100%, 25%, 0.356);
}

.bodygaleria {
  margin: 0;
  padding: 0;
  background-color: hsla(120, 100%, 25%, 0.356);
}
.bodygaleria .galeria img {
  width: 100%;
}
.bodygaleria .galeria {
  display: flex;
  padding: 5px;
  flex-wrap: wrap;
}
.bodygaleria .columna img {
  margin-top: 5px;
}
.bodygaleria .columna {
  flex: 25%;
  padding: 5px;
}
@media (max-width: 600px) {
  .bodygaleria .columna {
    flex: 100%;
  }
}

/*# sourceMappingURL=estilos.css.map */
